<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="pdf_Path" value="G:\Workspace\Docs\BloodTests\" />
		<add key="doc_Path" value="G:\Workspace\Testfolder\" />
		<add key="output_Path" value="G:\Workspace\ocr_Image\" />
		<add key="tessdataPath" value="G:\Workspace\TesseractOCR\tessdata\" />
		<add key="log_Path" value="G:\Workspace\ocr_Image\Logs\" />
		<add key="timerDelayInSecs" value="300" />
		<add key="webapi_url" value="https://localhost:7142/api/" />
	</appSettings>
</configuration>