<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="pdf_Path" value="G:\Workspace\Docs\BloodTests\" />		
		<add key="WebAppPath" value="G:\Workspace\BPaaS\Insurance\Scheduler\Insurance\WebPortal\BPaasInsurance\BPaasInsurance\" />		
		<add key="tessdataPath" value="G:\Workspace\TesseractOCR\tessdata\" />
		<add key="log_Path" value="G:\Workspace\ocr_Image\Logs\" />
		<add key="timerDelayInMins" value="1" />
		<add key="sFTPServerPath" value="G:\Workspace\SourceFolder" />
		<add key="webapi_url" value="https://localhost:7142/api/" />
	</appSettings>
</configuration>